.shiny-text {
  color: inherit;
  background: linear-gradient(
    120deg,
    currentColor 40%,
    rgba(255, 255, 255, 0.8) 50%,
    currentColor 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
  -webkit-text-fill-color: currentColor;
}
